/*This code was previously copied over from style.css, hence 
it contains some css and some scss. :( 
It was moved to scss for easier formatting */
//$iphone-portrait: 480 max px;
@media only screen and (max-width:480px){
  body{
    .header{
      width:100%;
    }
    .introImage{
      img{
      position:relative;
      left:60%;
      width:50%;
      height:auto;
    }}

    .vector{
      img{
        width:50%;
      }
    }
    .introText{
      font-size:12px;
      position:relative;
      bottom:0;
    }
    .nav{
      padding:0px;
      font-size:8px;
    }
    p{
      font-size:12px;
    }
    .food_adventures {
      button{
      width:70%;
      height:auto;
      font-size:20px;
    }
    form{
      font-size:15px;
      width:80%;
    }
  }
  .recent{
    h2{
      font-size:15px;
      padding:5px;
    }
    ul{
      /*attempt to decrease the font size of the task list 
       being displayed.Unsure of error*/
      font-size:10px;
      p{
        font-size:10px;
      }
    }
  }
  .nav_bar{
    background-color:#A1B59E
  }
  .footer{
    padding:10px;
    img{
      position:absolute;
      left:5%;
      bottom:20%;
      width:40px;
      height:auto;
    }
    p{
      font-size:12px;
    }
  }
  }
}
html,
body {
  height: 100%;
  min-width: 100%;
  font-family: 'Andika', sans-serif;
  background-color: #FBFAF9;
}

h1 {
  text-align: left;
}

.header {
  width: 100vw;
  height: 50vw;
  background-color: #F4F1EC;
  position: relative;
  border-radius: 20px;
  margin-top: 0;
  box-shadow: 10px 8px 5px #c5d2c2;
}

//Title Text 
.introText {
  position: absolute;
  font-size: 50px;
  left: 10%;
  bottom: 40%;
  color: #A2B59D;
}

//Carrot image on header
.introImage {
  position: absolute;
  bottom: 10%;
  right: 15%;
  width:"500px"
}
//Top navigation bar (Nom.com)
.nav {
  background-color: #EDCB8E;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  padding: 2px;
  padding-left: 10px;
}

//Little arrow on header --> scroll down) 
.vector {
  position: absolute;
  bottom: 5%;
  left: 49%;
}

/* Centering the button to the middle of the page */
.food_adventures button {
  background-color: #E9DBC4;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  font-size: 35px;
  margin: 40px;
  padding: 20px;
  border: none;
  box-shadow: 10px 8px 5px #d2d1c2;
  ;
  /* Unsure of how to align the plus png with the words add new. */
}

// Add new note button 
.food_adventures {
  button {
    color: #A0783F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
  }
}

//Formatting the "Add a new note" form
form {
  margin: 0 auto;
  border: 5px solid #c5d2c2;
  box-shadow: 10px 8px 5px #b5c1b2;
  font-size: 20px;
  height: 100%;
  width: 50%;

  h2 {
    font-size: 30px;
    text-align: center;
  }

  .form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  .form-row input {
    margin: 10px;
  }
  label {
    width: 240px;
    display: inline-block;
    text-align: right;
  }
}



//styling the input boxes --> Part of the form . 
input {
  border-radius: 10px;
  background-color: #E9DBC4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 10px;
  min-height: 20px;
  min-width: 20px;
  
}

//removing the box shadow for the yes / no buttons 
input[type="radio"] {
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
}
//Styling the submit button in form to become more visible for users
input[type="submit"] {
  color:#A0783F;
  font-weight:bolder;
  font-size:20px;
}

//Most recent adventures section
.recent {
  h2{
  font-size: 30px;
  position: relative;
  font-weight: 100;
  padding: 10px;
  left: 0%;
  margin-top:70px;
  margin-bottom:30px;
  background-color: #A1B59E;
  border-radius: 10px;
  color: white;}
}

ul img {
  width: 300px;
  height: 300px;
  /* Maintain aspect ratio */
  margin: 80px;
  /* Add some spacing between the image and text */
}

//nav bar on top of footer
.nav_bar {
  background-color: #A2B59D;;
  margin-top: 40px;
  font-size: 30px;
  font-weight: lighter;
  text-align: left;
  padding-left: 10px;
  border-radius: 10px;
  color: white;
}



#tasklist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-block-start: 0 auto;

}

#tasklist li {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 3px solid #c5d2c2;
  padding: 50px;
  margin-bottom: 1em;
}

#tasklist li p {
  flex-grow: 1;
  font-size: 20px;
  margin-left: 10px;
  max-width: 200px;
}


#tasklist li input[type="checkbox"] {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

/* Remove button where it displays the user inputs */
#tasklist li button {
  font-size: 12px;
  padding: 2px;
  height: 20%;
  background-color: #E9DBC4;
  color:#A0783F;
  align-items: baseline;
  width:10%;
  border-radius:5px;
  border:0;

}

/*Reviews section SCSS*/

.reviews{
  li{
    border:3px solid#c5d2c2;
    padding:20px;
    width:50%;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;

    button{
      font-size:12px;
      padding:2px;
      background-color:#E9DBC4;
      color:#A0783F;
      border:0;
      height:20%;
      width:10%;
      border-radius:5px;
    }
  }

}

//footer addition
.footer {
  position: relative;
  background-color: #E9DBC4;
  padding: 20px;
  
  img {
    position: absolute;
    left: 23%;
    bottom: 25%;
    width: 70px;
    height: 70px;
  }
  
  p {
    font-size: 30px;
    color: #A1B59E;
    text-align: center;

  }
}
