html, body {
    height: 100%;
    width: 100%;
    font-family: 'Andika', sans-serif;
    background-color:#FBFAF9;
  }

h1{
    text-align:left;
    
}

.header{
  width: 100vw;
  height: 50vw;
  background-color: #F4F1EC;
  position: relative;
  border-radius: 20px;
  margin-top:0;
  box-shadow: 10px 8px 5px #c5d2c2;;
}

.introText{
  position: absolute;
  font-size:60px;
  left: 10%;
  bottom:40%;
  color:#A2B59D;
}

.introImage{
  position: absolute;
  bottom: 10%;
  right: 15%;
}
.nav{
  background-color: #EDCB8E;
  margin-bottom:0;
  font-size:20px;
  font-weight:lighter;
  text-align:left;
  padding:2px;
  padding-left:10px;
}
.vector{
  position:absolute;
  bottom:5%;
  left:49%;
}

/* Centering the button to the middle of the page */
.food_adventures button{
  background-color:#E9DBC4;
  border-radius:20px;
  text-align:center;
  display:inline-block;
  font-size:35px;
  margin:40px;
  padding:20px;

  font-weight:lighter;
  border:none;
  color:#A0783F;
  box-shadow: 10px 8px 5px #d2d1c2;;
  /* Unsure of how to align the plus png with the words add new. */
}

form{
  margin:0 auto;
  border:5px solid #c5d2c2;
  box-shadow:10px 8px 5px #b5c1b2;
  font-size:20px;
  height:100%;
  width:50%;
}
/* Adjusting the form to be below the button */
#addbutton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}


form h2{
  font-size:30px;
  text-align:center;
}
.form-row{
  display:flex;
  justify-content:center;
  height:60px;
  
}
.form-row input{
  margin:10px;
}

label{
  width:240px;
  display:inline-block;
  text-align:right;
}
input[type = text ]{
  padding:10px;
  margin:20px ;
  box-shadow: 0 0 15px 4px rgba (0,0,0,0,06);
  min-height:20px;
  min-width:px;

}
input{
  border-radius:10px;

  box-shadow:0 0 15px 4px rgba (0,0,0,0,06);

}

.nav_bar{
  background-color: #A1B59E;
  margin-top:40px;
  font-size:30px;
  font-weight:lighter;
  text-align:left;
  padding-left:10px;
  border-radius:10px;
  color:white;
}
aside {
  grid-area: tasklist;
  padding: 1em;
  overflow-y: scroll;
}


#tasklist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-block-start: 0;

}

#tasklist li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid gray;
  padding: 1em;
  margin-bottom: 1em;
}

#tasklist li p {
  flex-grow: 1;
  margin-left: 10px;
  max-width: 200px;
}
#tasklist li span {
  text-align: right;
  flex-grow: 1;
  margin-right: 10px;
  max-width: 200px;
}

#tasklist li input[type="checkbox"] {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

#tasklist li button {
  font-size: 20px;
  padding: 4px;
}

.recent h2{
  font-size:50px;
  position:relative;
  left: 0%;
  background-color:#A0783F;
  border-radius:20px;
}

